<div class="container py-5">
  <div class="row pt-5">   
    <div class="col-md-7">
      <% @blogs.each do |blog| %>
      <div class="blog-index-card my-4">
        <h1 class="mb-3 text-center"><%= blog.title %></h1>
        <%=link_to image_tag(blog.photo_link, class: "img-fluid"), blog %>
        <%=link_to blog.body.truncate(200, separator: ' '), blog, class: "links-general-slide-right d-inline-block" %>
        <p><%= link_to "Read more", blog, class: "links-general-slide-right d-inline-block" %></p>
      </div>
      <% end %>
    </div>
    
    <div class="col-md-4"><h1>other side</h1></div>
  </div>
</div>

