
	<a class="standout-font text-center d-none d-md-inline" id="absolute-contact-button" href="mailto:itstechcam@gmail.com" target="_blank">Message Us</a>
	<a class="standout-font text-center d-md-none" id="absolute-contact-button-phone" href="mailto:itstechcam@gmail.com" target="_blank">Message Us</a>