<footer class="site-footer text-white pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Facilitating access to quality education in Africa at a low cost using web technologies. We are committed to building sophisticated Educational applications with not just quality information but capable of matching up with the classroom experience.</p>
                <h2>Contacts</h2>
                <ul>
                  <li>Email: itstechcam@gmail.com</li>
                  <li>Phone: +237 671172775</li>
                  <li>Location: South-West Cameroon</li>
                </ul>
              </div>
              <div class="col-md-3 ">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><%= link_to "About Us", about_path %>
                  <li><%= link_to "Services", services_path %>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="https://web.facebook.com/Group-Itstech-109102110645025/" class="pl-0 pr-3" target="_blank">Facebook<span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Group-Itstech</h2>
            <a href="#"><img src="https://res.cloudinary.com/it-s-tech/image/upload/v1581988878/Group-Itstech/blue-background-2_1_wvw04r.png" alt="Image" class="img-fluid mb-3"></a>
            <h4 class="h5">Education For A Better Africa.</h4>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;2020 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Group-Itstech</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>