<div id="footer-section" class="container-fluid pt-5 pb-2">
  <div class="container text-center" id="footer-container">
    <div class="row">
        <div class="row">
          <div class=" col-6 col-md-2 my-2">
            <h6 class="footer-heading mb-2">RESOURCES</h6>
            <ul class="list-unstyled">             
              <li><a class="footer-links" href="#">Podcast</a></li>
              <li><a class="footer-links" href="#">Webinars</a></li>
              <li><a class="footer-links" href="#">Blog</a></li>
              <li><a class="footer-links" href="#">Partner Program</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-3 my-2">
            <h6 class="footer-heading mb-2">SUPPORT</h6>
            <ul class="list-unstyled">
              <li><a class="footer-links" href="mailto:itstechcam@gmail.com" target="_blank">Support</a></li>
              <li><a class="footer-links" href="#">Terms and Conditions</a></li>    
              <li><a class="footer-links" href="#">GDPR</a></li>         
              <li><a class="footer-links" href="#">Privacy Policy</a></li>
              <li><a class="footer-links" href="mailto:itstechcam@gmail.com" target="_blank">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-7 col-md-3 my-2">
            <h6 class="footer-heading mb-2">CONTACT</h6>
            <div class="d-flex justify-content-between">
              <a href="https://twitter.com/nyagaandreroy1" target="_blank"><i class="fab fa-twitter-square twitter"></i></a>
              <a href="https://web.facebook.com/Group-Itstech-109102110645025" target="_blank"><i class="fab fa-facebook-square facebook"></i></a>
              <a href="https://www.linkedin.com/in/roy-nyaga-andre/" target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
              <a href="https://wa.me/237671172775?text=We%20are%20always%20there%20for%20you!!!"><i class="fab fa-whatsapp-square whatsapp"></i></a>
            </div>
          </div>

          <div class="col-5 col-md-2 my-2">
           <h6 class="footer-heading mb-2">Group-Itstech</h6>
            <ul class="list-unstyled">
              <li><a class="footer-links" href="/pages/about">About</a></li>
              <li><a class="footer-links" href="#">Success Stories</a></li>
              <li><a class="footer-links" href="#">Careers</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mx-auto my-2">
            <a href="#"><img src="https://res.cloudinary.com/it-s-tech/image/upload/v1590111527/black-background-white_tbt6jx_1_ozluqe.png" alt="Image" class="img-fluid mb-3"></a>       
          </div>
        </div>      
    </div>
    <h6 class="bold text-dark mt-5 border-top pt-4">Copyright ©2020 All rights reserved | This website was built and is maintained by <a href="https://itstech.herokuapp.com" target="_blank"> Group-Itstech</a></h6>
  </div>
</div>
