<section id="first-header-section">
            <div class="container first-header-section-div">
                <div class="social-media-icons-div">
                    <ul>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-yelp fa-2x"></i></a></li>
                    </ul>
                </div>
                <div id="first-layer-contact-div">
                    <ul>
                        <li><a href="#" class="first-layer-contact"><i class="fa fa-envelope right-icons"></i><span class="d-none d-md-inline">671172775</span></a></li>
                        <li><a href="#" class="first-layer-contact"><i class ="fa fa-phone right-icons"></i><span class="d-none d-md-inline">nyagaandreroy@gmail.com</span></a></li>
                    </ul>
                </div>
            </div>
    </section>

    <nav class="navbar navbar-expand-md sticky-top" >
      <a class="navbar-brand" href="#"><img src="logo.jpg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"><i class="fas fa-sliders-h text-white"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Projects", projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services", services_path, class: "nav-link" %>
          </li>       
        </ul>
      </div>
    </nav>