<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="row">
                <div class="col-md-6 col-12">
                    <img style="width: 100%;" src="https://res.cloudinary.com/it-s-tech/image/upload/v1599489802/Screen_Shot_2020-09-07_at_3.42.48_PM_g9hgkb.png">
                </div>
                <div class="col-md-6 col-12">
                    <h3>Get a well designed website 50%!!! Off</h3>
                    <a class="text-center background-button-link 
                    d-inline-block mt-4 wow animate__shakeY animated" 
                    data-wow-duration="3s" data-wow-iteration="infinite" 
                    href="mailto:itstechcam@gmail.com">Tell Us About Your Website</a>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>