<section id="about-section-div">
		<div class="container">
			<h2 class="text-center my-4 font-weight-bolder">About Group-<span>Itstech</span></h2>
			<div class="row">
				<div class="col-md-6">
					<div class="card text-center">
						<%= image_tag('https://res.cloudinary.com/it-s-tech/image/upload/v1581986482/woman-standing-on-the-center-table-with-four-people-on-the-1367271_kropda.jpg', class: "card-img-top", alt: "missing pic") %>
					</div>
				</div>
				<div class="col-md-6">
					<h4 class="font-weight-bolder my-4 text-center">What we are and what we do.</h4>
					<p class="h5">Group-Itstech is a c-cooperate company having its base in Cameroon and is engaged in the building of solution solving educational web application which offers services to the African public. Our team focuses on providing truly excellent services by delivering the industry’s most innovative solutions through stunning corporate-grade Educational web applications.<br>
                    We are driven by the passion to effectively accomplish clearly stated goals and objectives related to our vision. We also engage in freelancing of projects proposed to us by other enterprises and interested clients.</p>
				</div>
			</div>
		</div>
		<div class="row my-5">
			<div class="col-md-4 d-flex justify-content-between" id="mission-div">
				<p class="font-weight-light font-italic h1">01</p>
				<div class="text-white">
					<h2 class="text-center p-5"> Our Mission</h2>
					<p>Facilitating access to quality education in Africa at a low cost using web technologies. We are committed to building sophisticated Educational applications with not just quality information but capable of matching up with the classroom experience.</p>
				</div>
			</div>
			<div class="col-md-4 d-flex justify-content-between" id="vision-div">
				<p class="font-weight-light font-italic h1">02</p>
				<div class="text-white">
					<h2 class="text-center p-5">Our Vision</h2>
					<p>Becoming the most attended online Educational platform in Africa.</p>
				</div>
			</div>
			<div class="col-md-4 d-flex justify-content-between" id="philosophy-div">
				<p class="font-weight-light font-italic h1">03</p>
				<div class="text-white p-5">
					<h2 class="text-center"> Our Philosophy</h2>
					<p>Our company philosophy is to create the kind of Educational web applications that will be accessible by the African public at a minimum cost, increasing percentage success leading to a better Africa. Education for a better Africa.</p>
				</div>
			</div>
		</div>

		<div class="container">
			<h2 class="text-center pb-5">Our Team</h2>
			<div class="row">
				<div class="col-md-3 col-6">
					<div class="card text-center">
						<%= image_tag('https://res.cloudinary.com/it-s-tech/image/upload/v1581986476/IMG-20200201-WA0005_stor0q.jpg', class: "card-img-top", alt: "card image cap") %>
						<div class="card-body">
							<h4 class="card-title">Nji Cliff</h4>
							<p class="card-text">CEO<br>williajeni@gmail.com<br>+237671172775</p>
							<div class="d-flex justify-content-between">
								<a class="social-media-icons" href="https://web.facebook.com/cliff.nji.5/about?lst=100035029012530%3A100004168110665%3A1581987607" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a class="social-media-icons" href="https://twitter.com/CliffNji" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="card text-center">
						<%= image_tag("https://res.cloudinary.com/it-s-tech/image/upload/v1581986476/roy_bgbxhi.jpg", class: "card-img-top", alt: "missing pic") %>
						<div class="card-body">
							<h4 class="card-title">Roy Nyaga</h4>
							<p class="card-text">Full Stack web developer<br>nyagaandreroy@gmail.com<br>237671172775</p>
							<div class="d-flex justify-content-between">
								<a class="social-media-icons" href="https://web.facebook.com/roy.nyaga.77" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a class="social-media-icons" href="https://www.linkedin.com/in/nyaga-roy-7a3698186/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-media-icons" href="https://twitter.com/nyagaandreroy1" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>