<div id="client-page-header" class="container-fluid d-flex align-items-center justify-content-center">
	<div class="text-center">
		<h2 class="pb-3 heading-standout text-white">See how Group-itstech <br><span class="blue-text">Is changing the world</span></h2>
		<p class="text-white">We have helped companies transform their business with top-notch tech solutions</p>
		<a class="blue-button links-general-slide-right" href="#">CLIENTS</a>
	</div> 		
</div>

<%= render "partials/nav" %>

<div class="container py-5">
	<h2 class="text-center heading-standout pt-3">We make amazing products</h2>
	<h2 class="text-center heading-standout blue-text">and We'll make yours amazing, too.</h2>
	<p class="text-center pt-4 genral-font-color">Over the years we’ve honed a unique process that delivers consistently exceptional results with breathtaking efficiency.</p>
</div>

  	<div class="container py-5">
  		<div class="row">
  			<div class="col-md-6">
  				<div class="client-level-three-photo-div">
  					<img class="img-responsive client-level-three-photo" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584395536/Screenshot_from_2020-03-16_22-38-55_tv9z7x.png" style="width: 100%;">
  				</div>
  				<div class="my-4">
  					<a href="http://www.juicii.shop/" target="_blank" class="links-general-slide-right d-inline-block"><h4>Shaping the first in Cameroon eCommerce for Juicii Enterprise</h4></a>
  					<div>
  						<span class="genral-font-color p-3">eCommerce</span>
  						<span class="genral-font-color p-3">Software development</span> 
  					</div>
  				</div>
  			</div>

  			<div class="col-md-6">
  				<div class="client-level-three-photo-div">
  					<img class="img-responsive client-level-three-photo" src="https://res.cloudinary.com/it-s-tech/image/upload/v1594691204/Group-Itstech/Screenshot_from_2020-07-14_02-46-05_c2yes8.png" style="width: 100%;">
  				</div>
  				<div class="my-4">
  					<a href="https://epicartsandpainting.herokuapp.com/" target="_blank" class="links-general-slide-right d-inline-block"><h4>Information website, displaying the beauty of artistic work</h4></a>
  					<div>
  						<span class="genral-font-color p-3">UX/UI Design</span>
  						<span class="genral-font-color p-3">Software development</span> 
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="container py-5">
  		<div class="row">
  			<div class="col-md-6 d-flex align-items-center">
  				<div>
	  				<h2 class="py-5">With an <span class="blue-text">NPS score of 50</span>, we help drive excellent customer experience and achieve business goals of our partners.</h2>

	  				<p class="genral-font-color py-3 heading-standout">Our teams are proactive in suggesting improvements and ideas - collaborating with Netguru can help solve problems faster, in more efficient manner.</p>
	  				<a class="blue-button links-general-slide-right" href="mailto:nyagaandreroy@gmail.com" target="_blank">ESTIMATE YOUR PROJECT</a>
  				</div>
  			</div>

  			<div class="col-md-6">
  				<div class="client-page-client-word my-5 p-3 anime-move-up">
  					<i class="fas fa-quote-left about-page-quote blue-text"></i>
  					<h5 class="py-4 genral-font-color"> The best agency we’ve worked with so far. Group-itstech understands our product and is able to add new features with a great focus on speed to market.</h5>
  					<div class="row pt-4">
  						<div class="col-4 col-md-2">
  							<img class="img-responsive" style="width: 100%; border: 2px solid #00ace0; border-radius: 50%;" src="https://res.cloudinary.com/it-s-tech/image/upload/v1590291042/IMG-20200130-WA0004_z9j2gn_1_gum4pm.jpg">
  						</div>
  						<div class="col-8 col-md-9">
  							<h6>Geneve Kofi</h6>
  							<p class="genral-font-color">CEO of Kabin</p>
  						</div>

  					</div>
  				</div>

  				<div class="client-page-client-word my-5 p-3 anime-move-up">
  					<i class="fas fa-quote-left about-page-quote blue-text"></i>
  					<h5 class="py-4 genral-font-color"> I really appreciate that you take ownership, you're experienced and that we can rely on you. I’m happy to say that so far it has worked out tremendously well for solarisBank.</h5>
  					<div class="row pt-4">
  						<div class="col-4 col-md-2">
  							<img class="img-responsive" style="width: 100%; border: 2px solid #00ace0; border-radius: 50%;" src="https://res.cloudinary.com/it-s-tech/image/upload/v1590291043/IMG-20200130-WA0009_mgkf9p_1_iunlre.jpg">
  						</div>
  						<div class="col-8 col-md-9">
  							<h6>Mbake  Elias</h6>
  							<p class="genral-font-color">Director of Innovation at Keller Williams</p>
  						</div>

  					</div>
  				</div>

  				<div class="client-page-client-word my-5 p-3 anime-move-up">
  					<i class="fas fa-quote-left about-page-quote blue-text"></i>
  					<h5 class="py-4 genral-font-color"> I’ve had a long-lasting partnership with Group-itstech. They always try to make things possible.</h5>
  					<div class="row pt-4">
  						<div class="col-4 col-md-2">
  							<img class="img-responsive" style="width: 100%; border: 2px solid #00ace0; border-radius: 50%;" src="https://res.cloudinary.com/it-s-tech/image/upload/v1590291043/DSC_0318xxxxxx_nuze7h_1_mdrzwx.jpg" class="img-fluid rounded-circle img-thumbnail">
  						</div>
  						<div class="col-8 col-md-9">
  							<h6>King Onesimus</h6>
  							<p class="genral-font-color">founder of Juicii shop</p>
  						</div>

  					</div>
  				</div>

  				<div class="client-page-client-word my-5 p-3 anime-move-up">
  					<i class="fas fa-quote-left about-page-quote blue-text"></i>
  					<h5 class="py-4 genral-font-color"> What Group-itstech is good at is challenging certain decisions or opinions throughout the lifecycle of the project. Rather than simply going down the route of agreement with customer to appease them, they like to challenge what customers want as it isn't necessarily always what they need. The outcome is therefore a much more collaborative effort built on mutual trust.</h5>
  					<div class="row pt-4">
  						<div class="col-4 col-md-2">
  							<img class="img-responsive" style="width: 100%; border: 2px solid #00ace0; border-radius: 50%;" src="https://res.cloudinary.com/it-s-tech/image/upload/v1594694450/sabrina-dopel_1_eacrtr.jpg" class="img-fluid rounded-circle img-thumbnail">
  						</div>
  						<div class="col-8 col-md-9">
  							<h6>Sabrina Dopel</h6>
  							<p class="genral-font-color">Founder of AFEA Cameroon</p>
  						</div>
  					</div>
  				</div>

  				<div class="client-page-client-word my-5 p-3 anime-move-up">
  					<i class="fas fa-quote-left about-page-quote blue-text"></i>
  					<h5 class="py-4 genral-font-color">Partnering with Group-Itstech helped me to develop your my ideas into the finished product.</h5>
  					<div class="row pt-4">
  						<div class="col-4 col-md-2">
  							<img class="img-responsive" style="width: 100%; border: 2px solid #00ace0; border-radius: 50%;" src="https://res.cloudinary.com/it-s-tech/image/upload/v1594694520/WhatsApp_Image_2020-06-30_at_11.19.31_AM_1_y6krdx.jpg" class="img-fluid rounded-circle img-thumbnail">
  						</div>
  						<div class="col-8 col-md-9">
  							<h6>Joel Nzumofor</h6>
  							<p class="genral-font-color">Digital marketer at oylcampaign</p>
  						</div>
  					</div>
  				</div>

  			</div>
  		</div>
  	</div>

  	<div class="container py-5">
  		<div class="row">
  			<div class="col-md-6">
  				<h2 class="heading-standout">Best user experience supported by the most advanced technologies.</h2>
  				<p class="genral-font-color py-3">Over the years we have delivered over 600 software and design projects for clients all over the world. Here are some we are most proud of.</p>
  			</div>
  		</div>
  	</div>