<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Group-itstech</title>
    
    <!--Template based on URL below-->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">

    <!-- Place your stylesheet here-->
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section id="first-header-section">
            <div class="container first-header-section-div">
                <div class="social-media-icons-div">
                    <ul>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                        <li><a class="social-media-icons" href="#"><i class="fab fa-yelp fa-2x"></i></a></li>
                    </ul>
                </div>
                <div id="first-layer-contact-div">
                    <ul>
                        <li><a href="#" class="first-layer-contact"><i class="fa fa-envelope right-icons"></i><span class="d-none d-md-inline">671172775</span></a></li>
                        <li><a href="#" class="first-layer-contact"><i class ="fa fa-phone right-icons"></i><span class="d-none d-md-inline">nyagaandreroy@gmail.com</span></a></li>
                    </ul>
                </div>
            </div>
    </section>

	<nav class="navbar navbar-expand-md sticky-top" >
		<a class="navbar-brand" href="#"><img src="logo.jpg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
	    <span class="navbar-toggler-icon"><i class="fas fa-sliders-h text-white"></i></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarResponsive">
	  	<ul class="navbar-nav ml-auto">
	  		<li class="nav-item">
	  			<a class="nav-link" href="#home">Home</a>
	  		</li>
	  		<li class="nav-item">
	  			<a class="nav-link" href="#technology-div">Technology</a>
	  		</li>
	  		<li class="nav-item">
	  			<a class="nav-link" href="#short-service-description-div">About</a>
	  		</li>
	  		<li class="nav-item">
	  			<a class="nav-link" href="#differences-section-div">Resources</a>
	  		</li>	  		
	  	</ul>
	  </div>
	</nav>

    <section id="home">
		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner" style="height: 50rem">
					
				</div>
			</div>
		</div>

		<div class="caption text-center">
			<h1>Welcome to Group-Itstech</h1>
			<h3>A Problem Free Society...<span>Our Vision</span></h3>

			<a class="btn btn-outline-light btn-lg" href="#courses">Learn More</a>
		</div>
	</section>

	<section id="short-service-description-div" class="text-center">
		<h3 id="description" class="mb-5 h2">Group-Itstech Is A Web Development Company Aimed At Solving Societal problems that cut across, limitation to educational facilities, commerce and political transparency.</h3>
		<a href="#" class="read-more" class="">Read More</a>
	</section>

	<section id= "technology-div" class="services">
		    
			<div id="services-content-holder">
				<h5>Looking for a team of professionals</h5>
			    <div class="service-content" id="service-content-title">
					<h1>Our Technology</h1>
					<i class="fa fa-cogs"></i>
				</div>
				<div class="row">
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-2 mx-auto">
						<div class="service-content">
							
		                    <h3><a href="#">Event planning</a></h3><br>
							<div class="service-pic-div-one">
							    <a href="services-pic-link">
							    <img src="client1.png"  class="service-pic img-thumbnail" alt="missing pic">
							    </a>
							    <p class="see-more-paragraph"><a href="#" class="see-more-link">see more</a></p>
							</div>
						</div>
					</div>
				</div>				
			</div>		
	</section>

	<section id="home-page-services-wrapper" class="container-fluid pt-3 pb-3">
			<div class="container">
				<h2 class="text-center text-white">Our Services</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title">FREELANCING</h4>
								<p class="card-text service-paragraph">We are passionate about building your project under the following category</p>
								<ol>
									<li>Database Web driven Applications</li>
									<li>Android Applications</li>
									<li>APIs</li>
								</ol>
								<a href="#" class="read-more">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title">OTHERS</h4>
								<p class="card-text service-paragraph">This category of projects is what defines our nich. It is made up of project we build to solve societal issues. We have three projects in this list waiting for sponsorship</p>
								<ol>
									<li>Afriklearn</li>
									<li>Afrikestate</li>
									<li>myvote</li>
								</ol>

								<a href="#" class="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="differences-section-div">
		<div id="differences-row-div" class="row">
			<div id="imagination-slogan-div" class="col-md-6 d-flex justify-content-center align-items-center">
				<h1 class="text-white text-center">Our limit Is Your Imagination</h1>
			</div>
			<div id="differences-div" class="col-md-6 text-center">
				<h3 class="mt-5">What Makes Us Different</h3>
				<div class="row">
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">DELIVER WOW THROUGH IDEAS</h4>
								<p class="card-text">We want to wow our clients with our ideas. We believe anything worth doing—from customer service, to strategy or design, should have WOW factor.</p>
							</div>
						</div>
						
					</div>
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">EMBRACE AND DRIVE CHANGE.</h4>
								<p class="card-text">We are always thinking of ways to change processes, perspectives, and opinions for the best. We enjoy challenges, which sharpen us to grow and changing us to be the best in the world of technology.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">PURSUE GROWTH AND KNOWLEDGE.</h4>
								<p class="card-text">We take delight in learning new ways and never stop growing. We don't want anyone to feel stuck in a rut, and are constantly looking for ways to challenge ourselves to learn, grow and push the boundaries of what we think is achievable.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 p-3">
						<div class="card text-center">
							<div class="card-body">
								<h4 class="card-title differences-sub-heading">Affordable - not cheap.</h4>
								<p class="card-text">Our goal is to deliver excellence to our clients, and to allow them to pass our affordability and high quality towards their customers. HighupWeb is here to help you get ahead of the competition.</p>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>		
	</section>

	<footer class="site-footer text-white pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Our Vision is to Solve Societal problems that cut across, limitation to educational facilities, commerce and political transparency through web technologies.</p>
              </div>
              <div class="col-md-3 ">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3">Facebook<span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Group-Itstech</h2>
            <a href="#"><img src="logo.jpg" alt="Image" class="img-fluid mb-3"></a>
            <h4 class="h5">A PROBLEM FREE SOCIETY</h4>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Group-Itstech</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
	<!-- End home section -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>