<section id="project-section-div">
		<div class="container text-center my-5">
			<p class="text-center h4 bg-secondary text-white">It is worth noting that this service defines who we are and carries the vision of Group-Itstech.</p>
			<h1 class="text-center">EduAfrik.com <span style="background: #e2b8b8;"> Status: Development</span></h1>
			<p class="h3">
				<span style="color:green;">EduAfric</span> is a web application that is in charge of offering cheap and accessible educative material to the African public. The objective is to reduce the level of illiteracy and increase the percentage success of government public exams in Africa by increasing access to quality Education at a low cost. We realised the difficulies with education in Africa can be summarised to cost and accessibility which are the major problems EduAfrik is being devlop to solve.
			</p>
			<h2 class="p-5"><u>Objectives</u></h2>
			<p>
				<ol>
					<li class="h3">Providing quality Education to the African society.</li>
					<li class="h3">Reducing the cost of Education.</li>
					<li class="h3">Easy accessiblity to Educational material.</li>
				</ol>
			</p>
		</div>
	</section>