<div id="services-page-header" class="container-fluid d-flex align-items-center justify-content-center">
	<div class="text-center">
		<h2 class="pb-3 heading-standout text-white">Break the Mold with Software <br><span class="blue-text"> Development Services</span></h2>
		<p class="text-white">Teams motivated by innovation. Services crafted with passion. Tap into Scopic’s custom software <br> development services and expertise to power digital transformation in your industry.</p>
		<a class="blue-button links-general-slide-right" href="#surf-services">SURF OUR SERVICES</a>
	</div> 		
</div>

<%= render "partials/nav" %>

  	<div id="surf-services" class="container">
  		<div class="row my-5">
  			<div class="col-md-7 mx-auto py-5">
  				<h6>Custom Software Development Explored</h6>
  				<h2 class="heading-standout">Services and Solutions Built to Transform.</h2>
  				<p class="genral-font-color">Diversity defines us. Growing companies across a <span class="blue-text">wide range of industries</span> turn to Scopic for our high-quality software services, from project planning and development all the way through to product launch and maintenance.</p>
  			</div>
  		</div>
  	</div>

  	<div class="container-fluid my-5">
  		<div class="row">
  			<div class="col-md-6">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593505039/Group-Itstech/person-looking-at-phone-and-at-macbook-pro-1181244_bfkqu1.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6">
  				<h2 class="py-5 text-center">What does the term Software Development Services really mean?</h2>
  				<p class="genral-font-color">When you’re looking to create a software application, partnering with the right software development services company will help you to develop your idea into the finished product. First, we work together to map out your vision, then you leave it to the experts to design, build, code, test and maintain your software solution.</p>
  				<a class="blue-button links-general-slide-right" href="mailto:itstechcam@gmail.com">TEEL ME MORE</a>
  			</div>
  		</div>
  	</div>

  	<div class="container my-5 py-5">
  		<div class="row">
  			<div class="col-md-7 mx-auto">
  				<h1 class="heading-standout">And at Group-Itstech, we don’t just stop at software projects either.</h1>
  				<p>From software application development to digital marketing, our all-in-one services include:</p>
  			</div>
  		</div>
  	</div>

  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-md-6">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506425/Group-Itstech/apple-laptop-notebook-office-39284_q9oxkz.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 py-4">
  				<h1 class="heading-standout">Web Application Development</h1>
  				<p class="genral-font-color">Partner with a software development services company that values your project ideas as much as you do. Let’s work together to:</p>
  				<p class="blue-text border-bottom py-3">Enhance your users’ experience with secure cloud-based applications.</p>
  				<p class="blue-text border-bottom py-3">Ensure your software scales along with you by tapping into front and back-end technology.</p>
  				<p class="genral-font-color">Whether you’re planning to build something from the ground up, need support with your in-house development, or are trying to maintain an existing application, our dedicated development teams are here to help you.</p>
  				<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  			</div>
  			<div class="col-md-6 d-md-none">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506426/Group-Itstech/google-search-engine-on-macbook-pro-40185_fnkmjk.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 d-flex align-items-center mb-4">
  				<div>
  					<h2 class="heading-standout">Website Development</h2>
	  				<p class="genral-font-color">Engage your audience with a website that reflects your company’s vision and expertise. We work alongside you, adapting each project to your specific business requirements.</p>
	  				<p class="genral-font-color">Whether you need out-of-the-box Open Source CMS solutions or custom- built web development services, our expert designers, developers, and marketers will bring vitality to your online presence.</p>
	  				<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  				</div>				
  			</div>
  			<div class="col-md-6 d-none d-md-block mb-4">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506426/Group-Itstech/google-search-engine-on-macbook-pro-40185_fnkmjk.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593508292/Group-Itstech/person-writing-on-white-paper-3815585_ulks7n.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 d-flex align-items-center mb-4">
  				<div>
  					<h2 class="heading-standout">Mobile App Development</h2>
  					<p class="genral-font-color">Unlock more doors and reach larger audiences by making your application more accessible. Our custom mobile software development solutions give users more flexibility to enter an app from the touch of a pocket-sized screen – no matter their location, no matter the time.</p>
  					<p class="genral-font-color">iOS or Android, 3d technology, or natural language processing, augmented reality or customized communication services…you name what you’re looking for, we know how to help you.</p>
  					<p class="genral-font-color">Work with Scopic to reshape your clients’ expectations.</p>
  					<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  				</div>
  			</div>
  			<div class="col-md-6 d-md-none">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506422/Group-Itstech/fashion-art-coffee-macbook-pro-57690_a7c0i2.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 d-flex align-items-center mb-4">
  				<div>
  					<h2 class="heading-standout pt-4">UI/UX Design</h2>
	  				<p class="genral-font-color">Simplify your users’ experience and maximize usability by partnering with a software development services company that knows how to impact your target audience. Our professional UI/UX designers are trained in the art of creating simplistic, intuitive design that’s easy to navigate and effortless to understand.</p>
	  				<p class="genral-font-color">Anticipate your users’ next move and make your application interface eye- catchingly memorable. First we plan the architecture, then we create the user roadmap, before breathing life into the visuals.</p>
	  				<p class="genral-font-color">UI/UX Design services – mapped out with creativity, executed with professionalism to exceed your business goals.</p>
	  				<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  				</div>				
  			</div>
  			<div class="col-md-6 d-none d-md-block">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506422/Group-Itstech/fashion-art-coffee-macbook-pro-57690_a7c0i2.jpg" style="width: 100%;">
  			</div>

  			<div class="col-md-6">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593509237/Group-Itstech/apps-blur-button-close-up-267350_qxoa0l.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 d-flex align-items-center mb-4">
  				<div>
  					<h2 class="pt-4">Digital Marketing</h2>
	  				<p class="genral-font-color">Communicate your message. Transmit your individuality.</p>
	  				<p class="genral-font-color">If you’re looking for help reaching and converting your target audience into long-term customers, you’ve come to the right place! Our digital marketing services encompass everything from social media to SEO, from copywriting to landing page creation, from video production to influencer marketing.</p>
	  				<p class="genral-font-color">You have a niche product and you want it to be found by your specific clientele. We are versatile and experienced at working in numerous industries. First, we will research your target market. Then we will create and execute a tailor-made marketing strategy to gain the results you need to not just be found, but to be loved by your future customers for years to come!</p>
	  				<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  				</div> 				
  			</div>
  			<div class="col-md-6 d-md-none">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506422/Group-Itstech/advertising-alphabet-business-communication-270637_rcq4e5.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 d-flex align-items-center mb-4">
  				<div>
  					<h2 class="heading-standout pt-4">SEO and ASO</h2>
  				<p class="genral-font-color">You have a winning product or service. You have the quality content to match. But how easy is it for your target audience to find you?</p>
  				<p class="genral-font-color">Tap into Scopic’s SEO and ASO services to adopt leading best practices that will help dramatically increase your web traffic or number of downloads, and in turn, boost sales.</p>
  				<p class="genral-font-color">Whether it’s a technical SEO audit for your website, or a killer marketing strategy that will get your application found, we can help you implement the latest SEO and ASO best practices to stand out in all that online noise and make your way to the top.</p>
  				<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  				</div>  				
  			</div>
  			<div class="col-md-6 d-none d-md-block">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593506422/Group-Itstech/advertising-alphabet-business-communication-270637_rcq4e5.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6">
  				<img class="img-responsive" src="https://res.cloudinary.com/it-s-tech/image/upload/v1593510478/Group-Itstech/person-in-black-pants-and-black-shoes-sitting-on-brown-4101143_pd5nwf.jpg" style="width: 100%;">
  			</div>
  			<div class="col-md-6 d-flex align-items-center mb-4">
  				<div>
  					<h2 class="heading-standout pt-4">Consulting</h2>
  				<p class="genral-font-color">Do you have great ideas, but little time to research? Or perhaps you just want a little guidance on best practices to follow?</p>
  				<p class="genral-font-color">Our software developers, designers and marketers are always around to advise you on the best actions to take. In addition to our custom software development services and our digital marketing solutions, we also provide consultancy services in every area of our expertise. So whatever the challenge, from software, to design, to marketing, we can guide you along the path of success and together make sure you reach your goals.</p>
  				<a class="links-general-slide-right blue-button" href="/clients#sample-projects">EXPLORE EXISTING PROJECTS</a>
  				</div>  				
  			</div>
  		</div>
  	</div>