<div class="container-fluid">
	<div class="container d-flex justify-content-center align-items-center" id="frelancing-service-div">
		<h1 class="text-center">FREELANCING</h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="h3">Group-Itstech offers professional services to help you facilitate and automate the manual processes of your organisation. Our freelancing services include building of blogs, websites, web applications capable of performing financial transactions and android applications. We believe in new ideas empowered by creativity and we have a flexible and dynamic team of professionals with the required skill to materials your ideas, converting them to functional web applications. We help you make your dream come to pass through technology.</p>
			</div>
			<div class="col-md-6">
				<div class="card text-center">
					<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1581728282/photo-1509483730228-811e47696246_lq03al.jpg" alt="missing pic">				
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-5">
		<h3 class="text-center mb-3 p-3" style="background: #112840; color: white;">Pricing</h3>
		<table class="table table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>
						<p>STARTER</p>
						<p>50.000fcfa</p>
					</th>
					<th>
						<p>SILVER</p>
						<p>115.000fcfa</p>
					</th>
					<th>
						<p>GOLD</p>
						<p>150.000fcfa</p>
					</th>
					<th>
						<p>PLATINUM</p>
						<p>200.000fcfa</p>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Domain name</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>Wep site pages</td>
					<td>One</td>
					<td>Four</td>
					<td>Eight</td>
					<td>Unlimeted</td>
				</tr>
				<tr>
					<td>Social media linking</td>
					<td>No</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>Contact form</td>
					<td>No</td>
					<td>No</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>Responsiveness</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>Maintainance</td>
					<td>Once a year</td>
					<td>Quaterly</td>
					<td>Once a month</td>
					<td>Constant</td>
				</tr>
				<tr>
					<td>Database</td>
					<td>No</td>
					<td>No</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>Admin dashboard</td>
					<td>No</td>
					<td>No</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>Graphic design</td>
					<td>No</td>
					<td>3 pictures including logo</td>
					<td>8 pictures</td>
					<td>As needed</td>
				</tr>
				<tr>
					<td>Subscription</td>
					<td>No</td>
					<td>No</td>
					<td>Yes</td>
					<td>Yes</td>
				</tr>
				<tr>
					<td>LogIn, logOut functionalities</td>
					<td>No</td>
					<td>No</td>
					<td>No</td>
					<td>Yes</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
