<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  

</head>

<body>
 <h1>This is my ecommerce site</h1>
 <form action="" method="get" data-monetbil="form"><button class="" type="submit">Pay by Mobile Money</button></form>

 <script type="text/javascript" src="https://www.monetbil.com/widget/v2/monetbil.min.js"></script>
</body>
</html>